---
interface Props {
    name: string;
    url: string;
}

const { name, url } = Astro.props;
---

<div class="card">
    <div class="card-url">
        <a href={url}>
            {name}
        </a>
    </div>
</div>
